/* Général */

body {
    margin: 0;
    background-color: #7CC8F3;
    position: relative;
}

.img-transition {
    background-image: url('../Images/Header/860898d231dc51eee43a 1.png');
    height: 31px; 
}

.background-image, .background-image-opposée {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-width: 682px;
    min-height: 1192px;
    position: fixed;
    top: 0;
}

.background-image {
    background-image: url('../Images/Header/water-2748640_1280.png');
    left: 0;
    z-index: 2;
}

.background-image-opposée {
    background-image: url('../Images/Header/water-2748640_1280\ -\ Opposé.png');
    right: 0;
    z-index: 1;
}

header {
    background-color: #3253FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}

main {
    margin-top: 50px;
    padding: 10px;
}

main, .big-logo, .soc-menu-mobile, .soc-menu-desktop {
    position: relative;
    z-index: 3;
}

a:not(.soc a) {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* Police */

    h1, h2 {
        font-family: 'Bungee Inline', Arial, Helvetica, sans-serif;
        color: white;
        text-shadow: 0px 2px 2px rgb(0, 0, 0);
    }

    p, a, li {
        font-family: 'Krona One', Arial, Helvetica, sans-serif;
        color: white;
    }

/* header */

.big-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-logo > p {
    text-align: center;
    margin: 5px;
}

.soc-menu-mobile {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.soc-menu-desktop {
    display: none;
}

.soc > img {
    margin: 0px 5px;
}

/* Menu déroulant */
.menu-déroulant {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.btn-menu {
    margin: 5px;
}

nav {
    position: relative;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease, opacity 0.8s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-déroulant:hover .menu {
    opacity: 1;
    max-height: 130px;
}

nav > a, main a {
    background-color: black;
    width: 138px;
    height: 32px;
    padding: 1px;
    border-radius: 50px;
}

nav > a {
    margin: 5px 0px;
    padding: 7px 0px;
}

main p {
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
}

@media screen and (min-width: 1100px) {
    .soc-menu-mobile {
        display: none;
    }

    .soc-menu-desktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    nav {
        opacity: initial;
        max-height: 36px;
        overflow: initial;
        flex-direction: row; 
        margin-right: 5px;
    }

    nav > a {
        padding: 1px 0px;
        margin: 10px;
    }

    .soc {
        margin: 11px;
    }

    .big-logo {
        margin-bottom: 50px;
    }
}

